body {
    margin-left: 120px; 
    margin-right: 120px; 
    margin-top: 50px;
    padding: 0; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
}


#title {
    color: darkgreen; 
    text-align: center;
    width: 100%;
}

#intro {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(243, 183, 195);
    border-radius: 10px;
    font-size: 90%;
    padding: 50px;
    
}

#variable-analysis {
    margin-left: 35px;
    margin-right: 35px; 
}

h2{
    text-align: center;
}

thead {
    padding: 2px; 
}

tbody {
    padding: 2px; 
}

.big-table {
    font-size: 77%;
}

li {
    padding: 10px; 
}

img {
    align-items: center;
    max-width: 62%; 
    height: auto; 
}

.img-cont {
    text-align: center;
}

th {
    padding: 5px; 
    word-wrap: break-word;
} 

td {
    padding: 5px; 
    word-wrap: break-word;
}

.down-header {
    margin-top: 80px;

}

table {
    padding-top: 20px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 20px;
}

h3 {
    color: darkblue;
}

#poten-bias {
    color: black; 
}

.highlight {
    background-color: rgb(192, 232, 192);
}

button {
    padding: 10px;
    background-color: red;
    color: white; 
    font-size: 20px;
    font-family:monospace;
}

.table-cont{
    overflow-x: auto;
}
